{% extends 'base.html' %}
{% block content %}

 <!-- Page Content -->
    <div class="container page-container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Cash Money
        <small>(Male)</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <!-- Cash Carousel -->
        <div class="col-md-8">
          <img class="img-fluid d-block" src="../static/images/cash-main.JPG" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Color/Marking: Blue Fawn</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <h3 class="my-3">Traits</h3>
          <ul>
            <li>Energetic</li>
            <li>Affectionate</li>
            <li>Alert</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

            <!-- Portfolio Item Heading -->
      <h1 class="my-4">Khloe
        <small>(Bitch)</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid d-block" src="../static/images/khloe-2.JPG" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Color/Marking: Blue</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <h3 class="my-3">Traits</h3>
          <ul>
            <li>Mean</li>
            <li>Mean</li>
            <li>Mean</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

</div>



{% endblock %}